<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Concert
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/gestion" >
        <ion-icon name="cog">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-item *ngFor= "let con of formulaireTab ; let position = index">
    <ion-label>
      <h3>{{con.nom}}</h3>
      <p>{{con.genre}}</p>
      <h3>{{con.salle}}</h3>
      <p>{{con.ville}}</p>
      <h3>{{con.date}}</h3>
      <h3>{{con.note}}</h3>
      <h3>{{con.commentaire}}</h3>
    </ion-label>
     
      <ion-buttons slot= "end">
      <ion-button (click)="deletOneConcert(position)"  color="danger" >
        <ion-icon name="trash-outline"></ion-icon>
       </ion-button>

       <ion-button (click)="deletOneConcert(position)"  color="danger" >
        <ion-icon name="trash-outline"></ion-icon>
       </ion-button>
      </ion-buttons>
    


    
    

  </ion-item>
 
</ion-content>
